#title h2{
  margin: 50px auto;
  padding: 50px 0;
  padding-bottom: 5px;
  text-align: center;
  font-size: 25px;
  font-family: century;
  border-bottom: solid rgb(110, 108, 105) 1px;
  width: 300px;
}

#text{
  margin-bottom: 30px;
}

#text p{
	display: block;
	font-size: 13px;
  margin: 2px 0;
}

span{
	text-decoration: underline wavy;
	text-decoration-thickness: 1px;
}

input {
  border-bottom: solid black 1px;
  margin-bottom: 40px;
  height: 30px;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

input:hover{
  background-color:  rgb(251, 245, 240);
}

input:focus{
  background-color:  rgb(251, 245, 240);
}

#button{
	margin-top: 80px;
}

#conf{
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 50px;
  background-color:rgb(114, 107, 107);
  width: 300px;
  cursor: pointer;
}

#back{
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 50px;
  background-color: rgb(188, 179, 179);
  width: 300px;
  cursor: pointer;
}

.error_text{
  color: red;
}